*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    background-color: #fe6900;
}

footer{
    height: 60px;
    background-color: #1a1a1a;
}
.font-white{
    color:white;
}

ul{
    list-style: none;
}


.uomo-donna-bambini{
    padding: 1rem;
}
.logo-boolean{
    width: 20%;
     height: 50%;
}

.nav-bar, .menu{
    width: 20%;
}

.logo{
    width: 60%;
}



img{
    width: 100%;
}
.inline{
    display: inline-block;
}

.color-red{
    color:red
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.flex-between-centered{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container{
    width: 80%;
    margin: 0 auto;
}


 main > section.row{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}
main article.prodotti{
    width: calc(100% / 3);
    padding: .5rem;
    /* height: 500px; */
}
div.immagini{
    position: relative;
    /* height: 100%; */
}
.immagini img{
    width: 100%;
}
.immagini img.seconda-immagine{
    display: none;
}
article.prodotti:hover  img.prima-immagine{
    display: none;
}
article.prodotti:hover  img.seconda-immagine{
    display: inline-block;
}
div.product-discount{
    position: absolute;
    bottom: 2.65rem;
    left: 0;
}
span.tag{
    font-size: .8rem;
    padding: .3rem .65rem;
    color: white;
    font-weight: bold;
}
span.tag.tag-sconto{
    background-color: red;
}
span.tag.tag-eco{
    background-color: green;
}


article.prodotti:hover div.mi-piace span{
    color: red;
}


article.prodotti:hover div.mi-piace{
    background-image: url('../img/1.webp');
    background-size: contain;
} 
div.mi-piace{
    position: absolute;
    top: .66rem;
    right: 0;
    background-color: white;
    font-size: 1.8rem;
    padding: .25rem .66rem;
 }



 .chi-siamo{
    width: 50%;
    padding: 1rem;
 }

 .applicazioni{
    width: 50%;
 }

 .align-center{
    display: flex;
    justify-content: start;
    align-items: center;
 }

 .flex-end{
    display: flex;
    justify-content: end;
 }

 .flex{
    display: flex;
 }









