*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.container-orange{
    background-color: orange;
    height: 70px;

}

.container-grey{
    margin-top: 3rem;
    margin-bottom: 3rem;
    height:960px;
}

.container-black{
    background-color:black;
    height: 70px;
}

section.navigation{
height: 100%;
}
.navigation-footer{
    width: 70%;
}
section.navigation nav.donna-uomo-bambini,
section.navigation div.menu{
    width: 20%;
    height: 100%;
}

section.navigation div.logo{
    width: 60%;
}

section.navigation div.chi-siamo,
section.navigation div.applicazioni{
    width: 20%;
    border: dashed white 1px;
    height: 100%;
}

.flex-center{
    display:flex;
    justify-content:center;
}

.card{
    width: calc(100% / 3 - 2rem);
    height: 400px;
    margin: 2rem;
}

.flex-centered{
    display: flex;
    align-items: center;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

ul{
    list-style: none;
}

li{
    padding-right: .5rem;
    color:white;
}

.logo-boolean{
    width: 20%;
    height: 50%;
}

img{
    height: 100%;
    width: 100%;
}

span.marca,
span.articolo,
span.prezzo{
    display: block;
    color: black;
}

div.card img.seconda-immagine,
 div.card:hover img.prima-immagine{
     display: none;
 }

 div.card:hover img.seconda-immagine{
     display:inline-block;
 }

 .font-small{
    font-size: .8rem;
 }

 .society{
    color:white;
 }